/*body starts*/
body {
    text-align: center;

}

.zeropad {
    padding-right: 0px;
    padding-left: 0px;
}

.display_no_big {
    display: none;
}

.display_yes_big {
    display: block;
}

.head_display {
    display: none;
}

.lala{
    display: block;
}

.grey_bar {
    background-color: #999999;
    font-weight: bold;

}

h4 {
    font-weight: bolder;
    text-align: left;
    margin-left: 15px;
}


.stripes {
    background: repeating-linear-gradient(90deg,
        #DCD5D4,
        #DCD5D4 70px,
        white 20px,
        white 90px);
    /*position: relative;*/
    height: 1000px;
    width: 100%;
    margin-top: -16px;

}

.base {
    background-color: #9CC6F5;
    margin-top: 10px;
    /*position: absolute;*/
    padding-top: 10px;
    padding-bottom: 10px;
}

.content_sky {
    background-color: #CCE1FB;
    padding: 0px;
    margin: 5px 10px;

}

.base_dark {
    margin-top: 10px;
    /*position: absolute;*/
}

.content_dark_sky {
    background-color: #70A7DD;
    padding: 0px;

}

.content_dark_sky p {
    padding-top: 83px;
    padding-bottom: 83px;
    margin: 0px;
    font-weight: bold;
}


.content_sky_sec1 p {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    font-weight: bold;
}

.content_sky_sec2 p {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    font-weight: bold;
}


.content_sky_sec3 p {
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 0px;
    font-weight: bold;
}
